:root {
    --pri: #faf6f1;
    --sec: #7d5a50;
    --tri1: #d6a287;
    --tri2: #a97a62;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--sec);
    color: var(--pri);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--tri1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;

}

.elem {
    background-color: #feba17;
    /* padding: 30px 40px; */
    font-size: 13px;
    height: 220px;
    width: 190px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: all ease .2s;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-weight: 500;
}

.elem:active {
    scale: .97;
}

.fullElem {
    width: 100%;
    height: 100%;
    background-color: var(--tri1);
    padding: 40px;
    font-size: 30px;
    display: none;
}