:root {
    /* ===== Modern Productivity Palette ===== */
    --bg-main: #0F172A;/* Main background */
    --bg-surface: #111827;/* Navbar, cards */
    --primary: #3B82F6;/* Action / highlight */
    --secondary: #22C55E;/* Success / progress */
    --accent: #F59E0B;/* Attention / warning */

    --text-main: #E5E7EB;/* Primary text */
    --text-muted: #9CA3AF;/* Muted text */
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--text-main);
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--bg-surface);
}

section.allElems {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--bg-main);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.elem {
    cursor: pointer;
    background-color: var(--bg-surface);
    font-size: 13px;
    height: 220px;
    width: 190px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    transition: all ease .2s;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 20px 0px var(--primary);
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem h2 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-weight: 500;
    color: var(--text-main);
}

.elem:active {
    scale: .97;
}

.fullElem {
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
    padding: 40px;
    font-size: 30px;
    display: none;
    position: absolute;
}
.fullElem .back{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: red;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .2s;
}
.fullElem .back:active{
    scale: .97;
}
.back i{
    font-size: 20px;
}